<div class="container text-center">
    <h3>HashMash</h3>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <Validations @ref="validations" Mode="ValidationMode.Manual">
                <Validation Validator="@ValidationRule.IsNotEmpty">
                    <TextEdit Size="Size.Medium" Text="@inputValue" TextChanged="@inputChanged" Placeholder="">
                        <Feedback>
                            <ValidationNone>Input something!</ValidationNone>
                            <ValidationSuccess>Good enough.</ValidationSuccess>
                            <ValidationError>I suggest you enter something or nothing is going to happen...</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Validations>
        </div>
    </div>

    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6" style="overflow:auto">
            @if (inputValue != "")
            {
                <div class="card" style="margin-bottom: 20px;">
                    <h5 class="card-title">Hash Digest</h5>
                    <p class="card-text">@mashInput()</p>       
                </div>
            }
            </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-start" style="margin-bottom: 20px;">
                <div class="card-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" @bind-value="charOffsetEnabled" @oninput="storeState" id="charOffsetCheckbox">
                        <label class="form-check-label" for="charOffsetCheckbox"><Tooltip Text="This is what an offset on a character does">Character Offset</Tooltip></label>
                        <span style="float: right">@_charOffset</span>
                    </div>
                    <input type="range" name="charOffsetRange" class="form-range" @bind-value="_charOffset" @oninput="storeState" min="0" max="128" step="1">

                    <hr>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" @bind-value="bitShiftEnabled" @oninput="storeState" id="bitShiftCheckbox">
                        <label class="form-check-label" for="bitShiftCheckbox"><Tooltip Text="This is what bit shifting does">Bit Shift</Tooltip></label>
                        <span style="float: right">@_bitShift</span>
                    </div>
                    <input type="range" class="form-range" @bind-value="_bitShift" @oninput="storeState" min="0" max="16" step="1">

                    <hr>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" @bind-value="modNEnabled" @oninput="storeState" id="modNRange">
                        <label class="form-check-label" for="modNRange"><Tooltip Text="This is what mod n does">Mod <i>n</i></Tooltip></label>
                        <span style="float: right">@_modN</span>
                    </div>
                    <input type="range" class="form-range" @bind-value="_modN" @oninput="storeState" min="1" max="256" step="1">

                    <hr />
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" @bind-value="sha256Enabled" @oninput="storeState" id="sha256Checkbox">
                        <label class="form-check-label" for="sha256Checkbox"><Tooltip Text="This is what SHA256 is">SHA 256</Tooltip></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @if (inputValue != "") // Only show output table when there is non empty input from user
            {
                <div class="card text-start" style="margin-bottom:20px;">
                    <div class="table-responsive">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">Input</th>
                                    @for (int i = 0; i < max_table_chars; i++)
                                    {
                                        <th scope="col">@inputValue[i]</th>
                                    }
                                    @if (max_table_chars < inputValue.Length)
                                    {<th>...</th>}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Decimal</th>
                                    @for (int i = 0; i < max_table_chars; i++)
                                    {
                                        // Mash each char -> base 10
                                        <td>
                                            @mashCh(inputValue[i], 10)
                                           
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th scope="row">Binary</th>
                                    @for (int i = 0; i < max_table_chars; i++)
                                                        {
                                        // Mash each char -> binary
                                        <td>
                                            @mashCh(inputValue[i], 2)

                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th scope="row">Hexadecimal</th>
                                    @for (int i = 0; i < max_table_chars; i++)
                                                        {
                                        // Mash each char -> hexa
                                        <td>
                                            @mashCh(inputValue[i], 16)

                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            }
            </div>
    </div>


    

</div>


@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage


@code {

    int max_table_chars = 8;    // max number of chars to show on the table; length of input or 8, whichever is less

    public string inputValue;
    public bool charOffsetEnabled;
    public bool bitShiftEnabled;
    public bool modNEnabled;
    public bool sha256Enabled;

    Validations validations;

    // Check session storage for an existing state, set fields if one exists
    protected override void OnInitialized()
    {

        string sessionInput = sessionStorage.GetItem<string>("input");

        // Test input value for a stored session
        if (sessionInput == null)
        {
            inputValue = "";
        }
        else
        {
            inputValue = sessionInput;
            _charOffset = sessionStorage.GetItem<int>("charOffset");
            _bitShift = sessionStorage.GetItem<int>("bitShift");
            _modN = sessionStorage.GetItem<int>("modN");
        }

    }

    // To reflect changes in user input, as user changes the input
    void inputChanged(string value)
    {

        max_table_chars = Math.Min(value.Length, 8);

        inputValue = value;

        validations.ValidateAll();

        storeState();
    }

    // Reset state (incl. sessionStorage) but keeps input intact
    public void resetState()
    {
        // Maybe show warning popup here before resetting

        //reset();    // Reset the current masher, excluding user test input

        sessionStorage.SetItem<int>("charOffset", 0);
        sessionStorage.SetItem<int>("bitShift", 0);
        sessionStorage.SetItem<int>("modN", 0);

    }

    // Store the state to session storage
    public void storeState()
    {
        sessionStorage.SetItem<string>("input", inputValue);
        sessionStorage.SetItem<int>("charOffset", _charOffset);
        sessionStorage.SetItem<int>("bitShift", _bitShift);
        sessionStorage.SetItem<int>("modN", _modN);
    }

}
