
<input @bind-value="@inputValue" @oninput="(EventArgs) => {inputChanged(EventArgs.Value.ToString());}" type="text" placeholder="Type something..." onfocus="this.placeholder=''" maxlength="16" autofocus />

<hr />

<p>Total Clicks: @totalCount</p>

<h6>Level: @currentLevel <a data-bs-toggle="tooltip" title="next level in @nextLevel clicks"><img src="/images/icons/question-circle.svg" /></a></h6>


<h5>Level Clicks: @levelCount</h5>

<div class="col" style="padding-bottom: 10px;">
    <button type="button" @onclick="increment" class="btn btn-outline-success">Mash</button>
    <button type="button" @onclick="reset" class="btn btn-outline-danger">Reset</button>
</div>



<div class="table-responsive">
    @if (inputValue != "") // Only show output table when there is non empty input from user
    {
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Input</th>
                    @foreach (var c in inputValue)
                    {
                        <th scope="col">@c<small> + @levelCount</small></th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Decimal</th>
                    @foreach (char c in inputValue)
                    {
                        // Mash each char -> base 10
                        <td>@mashCh(c, 10)</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Binary</th>
                    @foreach (char c in inputValue)
                    {
                        // Mash each char -> binary
                        <td>@mashCh(c, 2)</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Hexadecimal</th>
                    @foreach (char c in inputValue)
                    {
                        // Mash each char -> hexadecimal
                        <td>@mashCh(c, 16)</td>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>


@if (inputValue != "")
{
    // Display the hash digest
    <h4>Hash Digest:</h4>
    <h5>@mashInput(this.inputValue)</h5>
}


@code {

    private string inputValue = "";

    // To reflect changes in user input, as user changes the input
    void inputChanged(string value)
    {
        this.inputValue = value;

    }

    // To possibly reset full state (users input string included)
    public void resetState()
    {
        // Maybe show warning popup here before resetting

        reset();            // Reset the current masher
        inputValue = "";    // Reset the input

    }

}
